<?xml version="1.0" encoding="UTF-8"?>
<launch>
  
  <group ns="/robot_1">
    <!-- Turtlebot3 bringup -->
    <!-- include file="$(find turtlebot3_bringup)/launch/turtlebot3_robot.launch"/ -->

    <!-- Realsense T265 launch -->
    <!-- <include file="$(find realsense2_camera)/launch/rs_t265.launch"/> -->

    <!-- Realsense D435 launch -->
    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
      <arg name="tf_prefix" value="/robot_1/camera"/>
    </include>

    <!-- RTAB Mapping Launch -->
    <include file="$(find rtab_slam)/launch/mapping.launch"/> 
    
    <!-- RRT Exploration Launch -->
    <include file="$(find rrt_exploration)/launch/rrt_setup.launch"/>
  </group>
</launch>

