<?xml version="1.0" encoding="UTF-8"?>
<launch>
  
  <!-- Turtlebot3 bringup -->
  <include file="$(find turtlebot3_bringup)/launch/turtlebot3_robot.launch"/>
  
  <group ns="/robot_1">
     <!-- move_base launch -->
     <include file="$(find turtlebot3_navigation)/launch/move_base_rrt.launch">
        <arg name="namespace" value="robot_1"/>
     </include>
  </group> 

  <!-- gmapping pkg -->
  <include file="$(find turtlebot3_navigation)/launch/gmapping.launch"/>
  
  <!-- RRT Exploration setup launch -->
  <include file="$(find rrt_exploration)/launch/rrt_setup.launch"/ -->
  
</launch>
