<?xml version="1.0" encoding="UTF-8"?>
<launch>
  
  <group ns="/robot_1">

     <!-- Turtlebot3 bringup -->
     <include file="$(find turtlebot3_bringup)/launch/turtlebot3_robot.launch"/>
     <!-- move_base launch -->
     <include file="$(find turtlebot3_navigation)/launch/move_base_rrt.launch">
        <arg name="namespace" value="robot_1"/>
     </include>

    <!-- Realsense T265 launch -->
    <!-- include file="$(find realsense2_camera)/launch/rs_t265.launch"/ -->

    <!-- Realsense D435 launch -->
    <!-- include file="$(find realsense2_camera)/launch/rs_camera.launch"/ -->
    
  </group> 
  
  
  <!-- RRT Exploration setup launch -->
  <include file="$(find rrt_exploration)/launch/rrt_setup.launch"/>
  
</launch>
